* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

li {
  list-style: none;
  display: flex;
}

li a {
  color: #fff;
}

li a:hover {
  color: #FF6C00;
}

a {
  text-decoration: none;
}

a {
  color: #fff;
}

a:hover {
  color: #FF6C00;
}

.container {
  max-width: 1200px;
  margin: 10px auto;
  text-align: center;
}

nav {
  background: #6f4c3e;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  /* filter: brightness(.9); */
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo img {
  height: 60px;
  border-radius: 50%;
}

.nav-links {
  list-style: none;
  padding-left: 50px;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s, transform 0.3s;
}

.nav-links a:hover {
  color: #FF6C00;
  transform: scale(1.1);
}

footer {
  position: sticky;
  top: o;
  bottom: 0;
  background-color: transparent;
  color: #fff;
  padding-top: 50px;
  text-align: center;
}

.social-icons a {
  color: #fff;
  font-size: 2rem;
  margin: 15px 10px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #FF6C00;
}

.hero {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.background-video {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  filter: brightness(0.2);
}

.hero-content {
  z-index: 1;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-content p {
  margin-bottom: 20px;
}

.hero .btn {
  background-color: #FF6C00;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.hero .btn:hover {
  background-color: #FF6C00;
}

nav {
  background: #6f4c3e;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  /* filter: brightness(.9); */
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo img {
  height: 60px;
  border-radius: 50%;
}

.nav-links {
  list-style: none;
  padding-left: 50px;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s, transform 0.3s;
}

.nav-links a:hover {
  color: #FF6C00;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .main-section h1 {
    font-size: 36px;
  }
  .main-section p {
    font-size: 16px;
  }
  .navbar .nav-links {
    /* display: none; */
    max-height: 40vh;
    flex-direction: column;
  }
  .navbar .logo {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .main-section h1 {
    font-size: 28px;
  }
  .main-section p {
    font-size: 14px;
  }
}
.contact-section {
  padding: 100px 20px;
  background-color: #6f4c3e;
}
.contact-section .container h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}
.contact-section .container p {
  font-size: 1.2em;
  margin-bottom: 20px;
}
.contact-section .contact-info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
.contact-section .contact-info .info-item {
  display: flex;
  align-items: center;
}
.contact-section .contact-info .info-item i {
  font-size: 1.5em;
  margin-right: 10px;
  color: #fff;
}
.contact-section .contact-info .info-item p {
  font-size: 1em;
  color: #fff;
}
.contact-section .contact-form .input-group {
  margin-bottom: 15px;
}
.contact-section .contact-form .input-group input,
.contact-section .contact-form .input-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  resize: none;
  font-size: 1em;
}
.contact-section .contact-form .submit-btn {
  background-color: #6f4c3e;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}
.contact-section .contact-form .submit-btn:hover {
  background-color: #4e362c;
}
.contact-section .partner-button {
  margin: 20px 0;
}
.contact-section .partner-button .btn-partner {
  background-color: #FF6C00;
  color: #6f4c3e;
  padding: 15px 25px;
  border-radius: 25px;
  font-size: 1.2em;
  text-decoration: none;
  transition: transform 0.3s, box-shadow 0.3s;
}
.contact-section .partner-button .btn-partner:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.contact-section .social-media {
  margin-top: 30px;
}
.contact-section .social-media h3 {
  margin-bottom: 10px;
}
.contact-section .social-media a {
  margin: 0 10px;
  color: #fff;
  font-size: 1.5em;
  transition: color 0.3s;
}
.contact-section .social-media a:hover {
  color: #FF6C00;
}