@use "./variables" as *;
// @use "../home/land-page/nav" as *;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: $font-color;
  background-color: $primary-color;
  // overflow: hidden; 
}

.container{
  max-width: 80%;
  margin: 10px auto;
  text-align: center;
}

li{
  list-style: none;
  display: flex;
}

li a{
  color: $font-color;
  
}

li a:hover{
color: $link-hover;
}

a{
  text-decoration: none;
  color: $font-color;
}

a:hover{
  color: $link-hover;
  }



