@use "../../utilities/variables" as *;


footer {
  position: sticky;
  top: o;
  bottom: 0;
  background-color: transparent;
  color: $font-color;
  padding-top: 50px;
  text-align: center;
}

.social-icons a {
  color: $font-color;
  font-size: 2rem;
  margin: 15px 10px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: $link-hover;
}