// *{
    // padding:0;
    // margin:0;
//  }
.place{

    background-color: yellow;
    background-image: url(https://cdn.dribbble.com/userupload/11865901/file/original-6b5c2dd55013e7799f023bee50283d96.png?resize=752x564&vertical=center);
}
.our-story{

background-image:url(https://cdn.dribbble.com/userupload/11865901/file/original-6b5c2dd55013e7799f023bee50283d96.png?resize=752x564&vertical=center);

}
.para{
    color:aqua;
}
