// Variables
$primary-color: #fff; 
$secondary-color:#BC704a ; 
$font-text: 'poppins', sans-serif;

// Base styles
body {
  font-family: $font-text;
  background-color:$primary-color;
  margin: 0;
  padding: 0;
}

section {
  padding: 20px;
}
.center{
    display: flex;
    align-items: center;
}
.place{
    color:$primary-color;
}

.placey {
  color: $primary-color;
  font-weight: bold;
  margin-bottom: 10px;
  display:grid;
  align-items: center;
  flex-direction: row;
}

h2 {
  font-size: 24px;
  margin: 20px 0;
}

h3 {
  font-size: 20px;
  margin: 15px 0;
}

.para {
  margin: 10px 0;

  p {
    font-size: 16px;
    line-height: 1.5;
  }
}

.flex-container {
  display: grid;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0;
  flex-direction: row;
  align-items: center;

  img {
    margin: 10px;
    border-radius: 50%;
  }
}

.sections {
  margin-top: 30px;

  h2 {
    margin-bottom: 20px;
  }

  h3 {
    margin: 10px 0;
  }
}

.blak {
  display: inline-block;
  margin-right: 10px;

  img {
    display: block; 
  }
}
