/* Variables for colors */
$primary-color: #FF6C00;
$secondary-color: #2f1b1b;
$background-gradient: linear-gradient(to bottom right, #4b2e2e, #3a1d1d);
$text-color: #fff;
$shadow-color: rgba(0, 0, 0, 0.2);

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: $background-gradient;
  color: $text-color;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: $primary-color;
}

p {
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: $text-color;
}

/* Contact Info Section */
.contact-info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  text-align: left;

  .contact-box {
    width: 30%;
    background-color: $secondary-color;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 15px $shadow-color;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: translateY(-10px);
    }

    i {
      font-size: 2rem;
      color: $primary-color;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 1.5rem;
      margin-bottom: 10px;
      color: $primary-color;
    }

    p {
      font-size: 1rem;
      color: $text-color;
    }
  }
}

/* Contact Form Section */
.contact-form {
  margin-bottom: 40px;
  background-color: $secondary-color;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 15px $shadow-color;

  .input-group {
    margin-bottom: 20px;

    input, textarea {
      width: 100%;
      padding: 15px;
      border-radius: 5px;
      border: none;
      font-size: 1rem;
      background-color: #fff;
      color: #333;
    }

    textarea {
      height: 150px;
    }
  }

  .submit-btn {
    background-color: $primary-color;
    color: $text-color;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
      background-color: lighten($primary-color, 10%);
    }
    
  }
  .partner-button {
    margin: 20px 0;
  }
  
  .btn-partner{
    background-color: #FF6C00;
    text-decoration: none;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.3s;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .contact-info {
    flex-direction: column;
    align-items: center;

    .contact-box {
      width: 90%;
      margin-bottom: 20px;
    }
  }

  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1rem;
  }

  .submit-btn {
    width: 100%;
  }
}
