// *{
//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
// }

// html{
//   // background-image: -moz-repeating-linear-gradient();
//   background-color: green;
// }
@media screen and (max-width:600px){

body{
  background-color: #3b2f2f;
  
}
.types{
  color:white;
  text-decoration: underline;
  align-items: center;
}
.menu{
  color:aliceblue;
  // text-decoration: wavy;
}
.style{
  color:peru;
  text-wrap: wrap;
  flex-shrink: 2%;
}
.card{
  justify-content: space-between;
  // display:flex; 
}
.espresso{
  // display:flex;
  // flex-direction: row;
  text-wrap: wrap;
}
.start{
  display:flex;
  flex-direction: row;
}
.images{
  box-shadow: #3b2f2f;
  border-radius: 50px;
  padding:10px;
  position: sticky;
}
  .side{ 
    display: flex;
     height: 1700px; 
      // align-content: ;
      //  overflow: scroll;
      box-sizing:border-box;
      }
    }

