// *{
//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
// }

// html{
//   // background-image: -moz-repeating-linear-gradient();
//   background-color: green;
// }

body{
  background-color: #3b2f2f;
  
}
.types{
  color:white;
  text-decoration: underline;
  align-items: center;
  
}
.menu{
  color:aliceblue;
  // text-decoration: wavy;
}
.style{
  color:peru;
  text-wrap: wrap;
  flex-shrink: 2%;
}
.card{
  justify-content: space-between;
  // display:flex; 
}
.espresso{
  // display:flex;
  flex-direction: row;
  text-wrap: wrap;
}
.start{
  display:-ms-inline-grid;
  flex-direction: row;
}
.images{
  box-shadow: #3b2f2f;
  border-radius: 100px;
  padding:10px;
  position: sticky;
}
  .side{ 
    display: flex;
     height: 1000px; 
      // align-content: ;
       overflow: scroll;
      box-sizing:border-box;
      }
      .body{
        background-image: url(https://cdn.dribbble.com/userupload/16054621/file/original-6daacd2b0238319de561d0ff8e948b81.png?resize=1024x768);
        background-size: cover;
        height: 100vh;
        background-position: center;
      }

