// *{
//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
// }

// html{
//   // background-image: -moz-repeating-linear-gradient();
//   background-color: green;
// }
// .container{
  // margin:0 auto;
  // max-width: 100px;
// }


 body{

  background-color:#3b2f2f;
 }
.types{
  color:white;
  text-decoration: underline;
  align-items: center;
  
}
.menu{
  color:aliceblue;
  // text-decoration: wavy;
}
.style{
  color:peru;
  text-wrap: wrap;
  flex-shrink: 2%;
}
.cards {
  // display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
align-items: center;
// max-width:300px;

}
div {
  border: 1px solid chocolate;
  border-radius: 10px;
  margin:3em;
  padding: 20px;
  // max-width: 300px;
  text-align: center;
gap:20%}
  

  
.cappucino{
  display: flex;
}
.start{
  display:-ms-inline-grid;
  flex-direction: row;
}
.image{
  box-shadow: #9b2626;
  border-radius: 5px;
  padding:10px;
  position: sticky;
}
  .side{ 
    display: flex;
     height: 1000px; 
      // align-content: ;
       overflow: scroll;
      box-sizing:border-box;
      }
      .nav
      {
        // background-color: blue;
        overflow: hidden;
        width: 100vw;
        height: 12vh;
        display: flex;
        justify-content: space-between;

    }
    .body{
        background-image: url("images/Pasted image.png");
        background-size: cover;
        height: 100vh;
        background-position: center;
      }

