// *{
  // margin:0;
  // padding:0;
// }
@use "../utility/variables" as *;
.container {
  max-width: 1200px;
  margin: auto;
}
h1, h2, h3 {
  text-align: center;
}

.best {
  margin-bottom: 20px;

  .menu {
    font-weight: bold;
    color:white;
  }

  
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .espresso, .latte, .black, .mocha, .americano, .cappuccino, .flat-white, .cafe, .macchiato, .cold, .frappe, .red {
    background-color: lighten($primary-color, 30%);
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    width:calc(30%-40); 

    h2 {
      margin: 0;
    }

    .image {
      display: flex;
      justify-content: center;
      margin: 10px 0;
    }

    h3 {
      text-align: left;
      margin-top: 10px;
    }
  }
}



  .espresso, .latte, .black, .mocha, .americano, .cappuccino, .flat-white, .cafe, .macchiato, .cold, .frappe, .red {
    width: 90%; 
  }


        
      


    
  .types{
    color:white;
    text-decoration: underline;
    align-items: center; 
      list-style-type: none;
      padding: 0;
      li {
        margin: 5px 0;
        font-weight: 500;
      }
    }
  
  


