$primary-font: 'Poppins', sans-serif;
$primary-color: #3b2f2f;
$card-border: #ccc;
$card-background: #fff;
$card-padding: 15px;
$card-margin: 15px;
$font-weight: 600;
$font-style: normal;
$font-size: 1.2em;

