// *{
//   margin:0;
//   padding:0;}
 .container{ 
    background-color:#3b2f2f;
    max-width: 300vw;
    max-height: 400vh;
    position: scroll;
}
.cards{
display:flex;
    justify-content: space-between;
    border-radius: 7px;
    border:1px solid black;}
    .types{
    color:white;
    text-decoration: underline;
    align-items: center;
  }
  .menu{
    color:aliceblue;
    text-decoration: wavy;
  }
  
    