@use "../../../utilities/variables" as *;

.partnership-form {
  max-width: 600px;
  margin: 4em auto;
  background-color: $secondary-color;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px $shadow-color;
  
  label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
    color: $font-color;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="url"],
  select {
    width: 50%;
    color: $primary-color;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid $shadow-color;
    border-radius: 5px;
    background-color: $font-color;
  }
  textarea{
    border-radius: 5px;
    resize: none;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border: 1px solid $shadow-color;
  }

  input[type="radio"] {
    margin-right: 5px;
  }

  button {
    padding: 15px;
    margin: 0 auto;    
    display: block;
    background-color: transparent;
    color: $font-color;
    border: 2px solid $link-hover;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 50px;
    transition: all 0.3s ease;

    &:hover {
      background-color: $link-hover;
      color: $font-color;
    }
    &:active{
      background-color: $primary-color;
      color: $link-hover;
    }
  }

  .phone-section {
    display: flex;
    gap: 10px;

    select {
      width: 25%;
    }

    input {
      width: 75%;
    }
  }
}
